
<div class="container">
   <div class="jumbotron text-center">
  <h1><a [routerLink]="['/welcome']">Data Dictionary </a>
  </h1>
</div>

<div class='panel panel-primary' >
    <div class='panel-heading'>
        {{pageTitle}}
    </div>


    <!-- Filter the tablecolumnsss   -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-1' > <div class=font-weight: bold>Filter by:</div></div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row' *ngIf='listFilter'>    
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>

        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <div class='table-responsive'>
            <table class='table'
                   *ngIf='tablecolumns && tablecolumns.length'>
                <thead>
                    <tr>

                        <th>ColumnName</th>
                        <th>Ordinal Position</th>
                        <th>Data Type</th>
                        <th>Length</th>
                        <th>Decimal Positions</th>
                        <th>Comments</th>
                        <th>AllowN ulls</th>
                        <th>Generated</th>
                        <th>KeySequence</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let tablecolumn of tablecolumns | tablecolumnsFilterPipe:listFilter'>
                        <td>
                            <a [routerLink]="['/ColumnsDetails', tablecolumn.ColumnName]">
                            {{tablecolumn.ColumnName}}    
                            </a>   
                        </td>
                        <td>
                            {{ tablecolumn.OrdinalPosition }}
                        </td>
                        <td>{{ tablecolumn.DataType}}</td>
                        <td>{{ tablecolumn.Length }}</td>
                        <td>{{ tablecolumn.DecimalPositions  }}</td>
                        <td>{{ tablecolumn.Comments  }}</td>
                        <td>{{ tablecolumn.AllowNulls  }}</td>
                        <td>{{ tablecolumn.Generated  }}</td>
                        <td>{{ tablecolumn.KeySequence  }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>