


<div class="container">
   <div class="jumbotron text-center">
  <h1><a [routerLink]="['/welcome']">Data Dictionary </a>
  </h1>
</div>

        <div class="container">
  <div class="row">
     <div class="col-sm-4">
      
      <p>
      <a [routerLink]="['/wmsods']">
	  <img src="./app/assets/images/WMS_ODS_LOGO.png" height="150" width="150"/>
	  </a>
      </p>
    <h3>WMS ODS</h3>
    </div>

     <div class="col-sm-4">
      
      <p>
      <a [routerLink]="['/legacy']">
	  <img src="./app/assets/images/legacy.gif" height="150" width="150"/>
	  </a>
      </p>
    <h3>Legacy Files</h3>
    </div>

  </div>
</div>
