<div class='panel panel-primary' >
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <div class='panel-body'>
        <p>
            Tables and views contained in the WMOSODS schema represents a subset of WMS (Manhattan) data.  
            This data is replicated "near-realtime" from all of the warehouses currently running on WMS.
            Because all Data in these tables represents ALL warehouses on WMS, you must filter the data by
            warehouse when queying the data.   This means specifying the ULINE_WHSCD = 'xx' in your WHERE clause
            of your query.  xx = current warehouse.
        </p>
    </div>

    <!-- Filter the schemaobjectss   -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-1' > <div class=font-weight: bold>Filter by:</div></div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row' *ngIf='listFilter'>    
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>

        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <div class='table-responsive'>
            <table class='table'
                   *ngIf='schemaobjects && schemaobjects.length'>
                <thead>
                    <tr>

                        <th>Schema</th>
                        <th>Table Name</th>
                        <th>Type</th>
                        <th>Create Date</th>
                        <th>No of Columns</th>
                        <th>No of Rows</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let schemaobject of schemaobjects | schemaobjectsFilterPipe:listFilter'>
                        <td>
                            {{schemaobject.schema}}       
                        </td>
                        <td>
                            <a [routerLink]="['/TableColumns', {tableName: schemaobject.tabname}]">
                            {{ schemaobject.tabname | uppercase }}
                            </a></td>
                        <td>{{ schemaobject.type}}</td>
                        <td>{{ schemaobject.createdate }}</td>
                        <td>{{ schemaobject.colcount  }}</td>
                        <td>{{ schemaobject.rows  }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>